<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recruitment.pixedit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PixEditApplication"
        android:allowBackup="true"
        android:icon="@mipmap/myappicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name="com.aviary.android.feather.sdk.FeatherActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:screenOrientation="unspecified" -->
        <!-- android:hardwareAccelerated="true" -->
        <!-- android:largeHeap="true" -->
        <!-- android:process=":aviarysdk" -->
        <!-- android:theme="@style/AviaryTheme.Dark" /> -->

        <provider
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsProvider"
            android:authorities="com.example.recruitment.pixedit.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />

        <activity
            android:name=".PriviewActivity"
            android:label="@string/title_activity_priview" >
        </activity>
    </application>

</manifest>
